* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #181f2a;
  color: white;
}

header,
section,
footer {
  padding: 3rem 2rem;
}

h1,
h3 {
  font-family: "Raleway", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.logo {
  width: 25%;
}

button {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  padding: 0.8em;
  border-radius: 5rem;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(to right, #65e2d9, #339ecc);
}

button:hover {
  background: #65e2d9;
  cursor: pointer;
}

@media (min-width: 1366px) {
  header,
  section,
  footer {
    padding: 6rem;
  }
}

header {
  font-family: "Raleway", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #1c2431;
}

header li {
  font-size: 1.2rem;
  margin-left: 0.7em;
  display: inline-block;
}

header a:hover {
  font-weight: 700;
  text-decoration: underline;
}

@media (min-width: 1366px) {
  header .logo {
    width: 13%;
  }
  header li {
    margin-left: 4em;
  }
}

.hero {
  text-align: center;
  margin-bottom: 5rem;
  background: #1c2431 url(./../../images/bg-curvy-mobile.svg) no-repeat 0 100%;
  background-size: contain;
}

.hero__img {
  width: 100%;
}

.hero__statement {
  margin: 0.6em 0;
  font-size: 1.8rem;
}

.hero__substatement {
  font-size: 1.1rem;
  margin-bottom: 1.5em;
}

.hero__button {
  border: none;
  width: 70%;
}

@media (min-width: 768px) {
  .hero__img {
    width: 55%;
  }
  .hero__statement {
    padding: 0 4em;
  }
  .hero__substatement {
    padding: 0 6.9em;
  }
  .hero__button {
    width: 30%;
  }
}

@media (min-width: 1366px) {
  .hero {
    margin-bottom: 0;
    background: #1c2431 url(./../../images/bg-curvy-desktop.svg) no-repeat 0 100%;
    background-size: contain;
  }
  .hero__statement {
    font-size: 3rem;
  }
  .hero__substatement {
    font-size: 1.5rem;
    padding: 0 13em;
    margin-top: 2em;
  }
  .hero__button {
    width: 20%;
  }
}

.services {
  text-align: center;
}

.services img {
  margin-bottom: 1em;
}

.services__service {
  margin-bottom: 3em;
}

.services__service__statement {
  margin-bottom: 0.8em;
}

@media (min-width: 768px) {
  .services__service__substatement {
    padding: 0 12em;
  }
}

@media (min-width: 1366px) {
  .services {
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .services__service__substatement {
    padding: 0 10em;
    font-size: 0.9rem;
  }
}

.howWorks {
  margin: 2em 0;
}

.howWorks__img {
  margin-bottom: 3em;
  width: 100%;
}

.howWorks__container__statement {
  font-size: 1.3rem;
  margin-bottom: 1em;
}

.howWorks__container__substatement {
  margin-bottom: 1em;
}

.howWorks__container__link {
  border-bottom: 1px solid #65e2d9;
  padding: 0.5em 0;
  max-width: 10.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5em;
  text-align: center;
}

.howWorks__container__link a {
  color: #65e2d9;
}

.howWorks__container__link a:hover {
  color: white;
}

.howWorks__container__link:hover {
  border-bottom-color: white;
}

.howWorks__container__link__icon:hover {
  color: white;
}

@media (min-width: 768px) {
  .howWorks {
    text-align: center;
  }
  .howWorks__img {
    width: 60%;
    text-align: center;
  }
  .howWorks__container__statement {
    text-align: left;
  }
  .howWorks__container__substatement {
    text-align: left;
  }
}

@media (min-width: 1366px) {
  .howWorks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3em;
  }
  .howWorks__img {
    width: 50%;
  }
  .howWorks__container {
    padding-right: 6em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .howWorks__container__statement {
    font-size: 3rem;
  }
  .howWorks__container__substatement {
    font-size: 1.1rem;
  }
}

.testimonials {
  margin-bottom: 15em;
}

.testimonials__quote {
  width: 8%;
}

.testimonials .testimonial {
  background: #202a3c;
  border-radius: 0.5em;
  padding: 2em;
  margin-bottom: 2em;
}

.testimonials .testimonial__statement {
  font-size: 0.8rem;
  margin-bottom: 1.5em;
}

.testimonials .testimonial__person {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5em;
}

.testimonials .testimonial__person__img {
  border-radius: 50%;
  max-width: 2rem;
}

.testimonials .testimonial__person__name {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.5;
}

.testimonials .testimonial__person__name span {
  font-size: 0.6rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .testimonials {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1em;
    margin-bottom: 15em;
  }
  .testimonials__quote {
    position: absolute;
    top: -1%;
    z-index: -1;
    width: 8%;
  }
}

@media (min-width: 1366px) {
  .testimonials {
    gap: 2.5em;
  }
  .testimonials__quote {
    top: 13%;
    left: 6%;
    width: 4%;
  }
  .testimonials .testimonial__statement {
    font-size: 1.1rem;
  }
}

.getStarted {
  position: absolute;
  top: -20%;
  right: 7%;
  width: 85%;
  text-align: center;
  background-color: #1c2431;
  padding: 3em 2em;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 0 1em #0b1423;
          box-shadow: 0 0 1em #0b1423;
}

.getStarted * {
  margin-bottom: 1.5em;
}

.getStarted__statement {
  font-size: 1.2rem;
}

.getStarted__substatement {
  font-size: 0.94rem;
}

.getStarted__email {
  width: 100%;
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 0.6rem;
  padding: 2em 3em;
  border-radius: 5rem;
  margin-bottom: 2em;
}

.getStarted__button {
  width: 100%;
}

@media (min-width: 768px) {
  .getStarted {
    width: 60%;
    right: 20%;
  }
  .getStarted__button {
    width: 60%;
  }
}

@media (min-width: 1366px) {
  .getStarted {
    padding: 3em 5em;
  }
  .getStarted__emailsection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .getStarted__statement {
    font-size: 2rem;
    margin-bottom: 1em;
  }
  .getStarted__substatement {
    font-size: 1rem;
  }
  .getStarted__email {
    width: 65%;
    margin-bottom: 0;
    font-size: 1rem;
    padding: 0 2em;
  }
  .getStarted__button {
    width: 30%;
    margin-bottom: 0;
  }
}

footer {
  position: relative;
  background-color: #0b1423;
}

footer .footer {
  padding-top: 18em;
  padding-left: 1rem;
}

footer .footer .logo {
  width: 50%;
  margin-bottom: 2em;
}

footer .footer__location {
  margin-bottom: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 3rem;
}

footer .footer__location__icon {
  max-width: 1rem;
  height: 2rem;
}

footer .footer__contacts {
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

footer .footer__contacts__icon {
  margin-right: 3rem;
}

footer .footer__links__list li {
  display: block;
  margin-bottom: 1em;
}

footer .footer__links a:hover {
  font-weight: 700;
}

footer .footer__social-media-icons {
  margin: 3em auto;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  color: white;
}

footer .footer__social-media-icons i {
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.5em;
}

footer .footer__social-media-icons i:hover {
  color: #65e2d9;
  border-color: #65e2d9;
}

footer .attribution {
  text-align: center;
  font-size: 0.8rem;
}

footer .attribution a {
  color: #65e2d9;
}

footer .attribution a:hover {
  font-weight: 700;
}

@media (min-width: 768px) {
  footer .footer {
    padding-top: 14em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 5em;
    grid-row-gap: 1em;
  }
  footer .footer .logo {
    width: 20%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  footer .footer__links__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1366px) {
  footer .footer {
    padding-top: 10em;
    -ms-grid-columns: 2fr (1fr)[3];
        grid-template-columns: 2fr repeat(3, 1fr);
  }
  footer .footer .logo {
    width: 13%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
  footer .footer__social-media-icons {
    margin: 0;
    width: 60%;
  }
  footer .footer__links__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .attribution {
    margin-top: 5em;
  }
}
/*# sourceMappingURL=main.css.map */