header {
  font-family: $ff-headings;
  display: flex;
  justify-content: space-between;
  background-color: $intro_EmailSignUp;

  li {
    font-size: 1.2rem;
    margin-left: 0.7em;
    display: inline-block;
  }

  a {
    &:hover {
      font-weight: 700;
      text-decoration: underline;
    }
  }
}

@media (min-width: 1366px) {
  header {
    .logo {
      width: 13%;
    }

    li {
      margin-left: 4em;
    }
  }
}
