.hero {
  text-align: center;
  margin-bottom: 5rem;
  background: $intro_EmailSignUp url(./../../images/bg-curvy-mobile.svg)
    no-repeat 0 100%;
  background-size: contain;

  &__img {
    width: 100%;
  }

  &__statement {
    margin: 0.6em 0;
    font-size: 1.8rem;
  }

  &__substatement {
    font-size: 1.1rem;
    margin-bottom: 1.5em;
  }

  &__button {
    border: none;
    width: 70%;
  }
}

@media (min-width: 768px) {
  .hero {
    &__img {
      width: 55%;
    }
    &__statement {
      padding: 0 4em;
    }
    &__substatement {
      padding: 0 6.9em;
    }
    &__button {
      width: 30%;
    }
  }
}

@media (min-width: 1366px) {
  .hero {
    margin-bottom: 0;
    background: $intro_EmailSignUp url(./../../images/bg-curvy-desktop.svg)
      no-repeat 0 100%;
    background-size: contain;
    &__statement {
      font-size: 3rem;
    }
    &__substatement {
      font-size: 1.5rem;
      padding: 0 13em;
      margin-top: 2em;
    }
    &__button {
      width: 20%;
    }
  }
}
