.services {
  text-align: center;

  img {
    margin-bottom: 1em;
  }
  &__service {
    margin-bottom: 3em;
  }
  &__service__statement {
    margin-bottom: 0.8em;
  }
}

@media (min-width: 768px) {
  .services {
    &__service__substatement {
      padding: 0 12em;
    }
  }
}
